body{
  background-color: #E5DCD5;
}
hgroup{
  background-color: darkgrey;
  font-size: 15pt;
  text-align: center;
}
a{
  color: #1A1A1D;
  padding: 0px 5px 0px 0px;
}
.test{
  color: white;
}
.head{
  margin-bottom: -8px;
}
#navigation{
  font-size: 15pt;
}
.Information{
  margin: 15px 0px 0px -40px;
  padding: 1px 5px 10px 5px;
  background-color: #1A1A1D;
  border: solid 2px #C3073F;
  color: #E5DCD5;
}
#About, #Skills, #Education, #Experience, #Portfolio{
  margin: 15px 0px 0px 0px;
  padding: 3px;
  border-style: solid;
  border-width: 2px;
  border-color: #1A1A1D #1A1A1D #E5DCD5 #1A1A1D;
}

#Portfolio{
  margin: 15px 0px 0px 0px;
  padding: 1px 5px 10px 5px;
  background-color: #1A1A1D;
  border: solid 2px #C3073F;
  color: #E5DCD5;
}
.footer{
  background-color: darkgrey;
  font-size: 13pt;
  text-align: center;
  margin: 15px 0px 0px 0px;
}